<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/game-view.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1>
            <span class="player-1">Player 1</span>
            <span class="player-vs">vs.</span>
            <span class="player-2">AI</span>
        </h1>
        <div class = "bg"> <div id="banner"></div></div>


        <div class="game-table">
            <div class="board">
                <div class="field r-4 c-A d-2"></div>
                <div class="field r-4 c-B"></div>
                <div class="field r-4 c-C"></div>
                <div class="field r-4 c-D d-1"></div>

                <div class="field r-3 c-A"></div>
                <div class="field r-3 c-B d-2"></div>
                <div class="field r-3 c-C d-1"></div>
                <div class="field r-3 c-D"></div>

                <div class="field r-2 c-A"></div>
                <div class="field r-2 c-B d-1"></div>
                <div class="field r-2 c-C d-2"></div>
                <div class="field r-2 c-D"></div>

                <div class="field r-1 c-A d-1"></div>
                <div class="field r-1 c-B"></div>
                <div class="field r-1 c-C"></div>
                <div class="field r-1 c-D d-2"></div>

                <div class="pieces-wrap">
                <!--
                <div class="piece"></div>
                <div class="piece tall dark hole round"></div>
                -->
                </div>
            </div>

            <div class="board-aside">
                <div class="next field"></div>
                <div class="remaining"></div>
            </div>
        </div>
        <script>
            var game_id = '{{ game_id }}';
        </script>
        <script>
            // $ajax({
            //     url:'getnextstep',
            //     method: 'POST',
            //     type:'JSON',
            //     data:{
            //         remaining_pieces:"TEST",
            //         board:"TEST",
            //         next_piece:"TEST"
            //     },
            //     success: function(rq){
            //         console.log(JSON.parse(rq.responseText))
            //     },
            //     loading: function(rq){
            //         text = "AI is thinking ..."
            //     }
            // });
            var board = [];
            for(let i=0;i<4;i++){
                let tmpboard = [];
                for(let j=0;j<4;j++){
                    tmpboard.push("")
                }
                board.push(tmpboard);
            }
            function generatebinary(n) {
                var remaining = [];
                while(n--){
                    remaining.push(("0000"+n.toString(2)).slice(-4))
                }
                return remaining
            }
            var remaining_piece = generatebinary(16).reverse();
            var next_piece = "";
            console.log(board);
            console.log(remaining_piece);
            console.log(next_piece);
        </script>
        {% block javascript %}
        <script>
            {% include "js/utils.js" %}
            {% include "js/game-view.js" %}
        </script>
        {% endblock %}
    </body>
</html>
